.bar {
  display: flex;
  align-items: center;
}
.name_label {
  margin-left: 40px;
}

.input {
  margin-left: 10px;
  padding: 0.25em 0.5em;
}

.btn {
  margin: 0 10px;
  padding: 0.5em 1em;
  background: rgb(250, 213, 3);
  color: var(--blue-gray);
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}